fastapi
uvicorn
python-multipart
pdfplumber
python-docx
pytesseract
pillow
pandas
sentence-transformers
faiss-cpu
openai
langchain
streamlit
requests
supervisor
python-dotenv   
langchain_text_splitters

